*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: mintcream;
}

section{
    position: relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

form{
    height: 40px;
    width: 100%;
}

button{
    background-color: red;
    color:  rgb(242, 245, 236);
    font-size: small;
    cursor: pointer;
    border-radius: 10%;
    padding: 3px;
}

input{
    width: 70%;
    height: 100%;
    padding-left:10px;
    margin: 0px;
    font-size: large;
    border: 2px solid rgb(197, 218, 155);
    border-right: none;
}

form button{
    position: relative;
    top: -2px;
    right: 4px;
    width: 28.5%;
    height: 41px;
    border-radius: 0px;
    border: 2px solid rgb(196, 211, 167);
    border-left: none;
}

h1{
    color: rgb(62, 74, 87);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#enter_product{
    margin-bottom: 30px;
}

#display_product{                           /* important */
    /* display:none; */
    background-color: rgb(195, 248, 230);
    border-radius: 0.5%;
    font-size: large;
    height: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    width: 60%;
    color: rgb(62, 74, 87);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5%;
}
li{                          /* important */
    position: relative;
    border-bottom: 1px black solid;
}

.edit{                          /* important */
    position: absolute;
    left: 50%;
}

.del{                          /* important */
    position: absolute;
    left: 65%;
}

div a button{
    background-color: rgb(195, 248, 230);
    border: 1px solid rgb rgb(49, 45, 45);
    color: rgb(49, 45, 45);
    font-size:larger
}

#start{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 50%;
}

#back{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}